@import "tailwingcss";

.custom-shape-divider-top-1765754165 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1765754165 svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 198px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1765754165 .shape-fill {
  fill: #0f0458;
}
