#configuracion y carpetas 
.vscode
node_modules
python

#js no nesesarios
src/app/js/deuda.js
src/app/js/egreso.js
src/app/js/index.js
src/app/js/ingreso.js

#archivos html sin terminar
src/app/page/deuda.html
src/app/page/egreso.html
src/app/page/ingreso.html

Final-JS-Porject.txt
.env*
