/* Engreso colores definidos */
$egreso-text: red;
$egreso-bg:  rgba(255, 0, 0, 0.116);
$egreso-border: rgba(255, 2, 2, 0.192);

/* Ingreso colores definidos */
$ingreso-text: blue;
$ingreso-bg:  rgba(0, 140, 255, 0.116);
$ingreso-border: rgba(2, 40, 255, 0.192);