@use "./../utils/mixin" as mix;

.card {
  @include mix.display(flex, space-between, center);
  gap: 10px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(235, 232, 232);

  .info-card{
    @include mix.display(flex, center, stard);
    flex-direction: column;
    gap: 0.3rem;

    .tipoCuenta{
      font-style: italic;
      color: rgb(131, 129, 129);
    }
  }

  .saldo{
    @include mix.display(flex, stard, stard);
    gap: 0.2rem;
    color: rgb(63, 62, 62);

    #saldo{
      font-size: 1.8rem;
      
    }
  }
}










