@use "../utils/variables-color" as u;
@use "../utils/mixin" as mix; 

nav {
  background-color: u.$secondary-color;
  width: 100%;
  
  ul {
    @include mix.display(flex, space-between, stard);
    padding: 0.3rem;
    font-size: 1.1rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgba(156, 156, 156, 0.719);
      border-radius: 0.5rem;
      padding: 0.5rem;

      &:hover {
        color:white;
        background-color: rgba(192, 188, 188, 0.199);
      }
    }
  }
}








