@import "tailwindcss";

@import url("https://fonts.googleapis.com");

@theme {
  --font-rebus: "Inter", sans-serif;
  --color-primary: #071341;
  --color-secondary: #2563eb;
  --color-surface: #f8fafc;
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer/Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }
}
